<div class="contrainer">
    <form [formGroup]="qsFourForm">
        <p-card>
            <ng-template pTemplate="header">
                <h1 class="p-text-center">Question 4</h1>
            </ng-template>
            <div class="row justify-center">
                <div class="col-1">
                    <label>Citizen Id: </label>
                </div>
                <div class="col-2 ">
                    <input class="form-control" pInputText type="text"  id="txtCitizenId" formControlName="citizenId" (change)="onChange()" maxlength="13"/>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-1">
                    <label>Success: </label>
                </div>
                <div class="col-2">
                    <label>{{output}}</label>
                </div>
            </div>
        </p-card>
        
    </form>
</div>